/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}



/*
 * Base structure
 */

html,
body {
    min-height: 100%;
    background-color: #051842;
}

body {
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

html {
    position: relative;
    min-height: 100%;  }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: white;
  }

  .container {
    width: auto;
    max-width: 500px;
    padding: 0 15px;
  }

  .cover-container {
  margin:20px 0px 0px 0px;
  }

  .photo {
    width: 40%;
  }

  .photos {
    width: 10%;
    display: inline-block;
  }


  .names {
  color: #051842;
  -webkit-text-stroke: 1px #cfac47;
  text-shadow: 2px 2px 5px #051842;
  }

h2 {
font-size: 20px;
}

.date {
margin: 0px 0px 30px 0px;
color: #997F4C;
font-weight: bold; 
-webkit-text-stroke: 0.5px #997F4C;
font-size: 20px;
}

.left {
font-size: 16px; 
margin: 0px 0px 0px 0px;   
color: #FAFAD2;
}

#counter{
    font-size: 25px;
    color: #cfac47 ;
    -webkit-text-stroke: 0.2px #051842;
    margin: -5px 0px 20px 0px; 
    font-weight: bold;

}
span {
  color:   black;
}

  /* Underline From Left */
.nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
    right: 0;
  }
  
  /* Underline From Center */
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

.cover {
margin: 20px 0px 0px 0px; 
}