/*
 * Globals
 */


/* Links */

a,

a:hover {
    color: #fff;
    text-decoration: none;
}

.image {
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background-image: url("img/backgr1.png");
    /*background-color: #051842; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.no-image {
background-color: #051842;
color: #fff;
}

html {
    position: relative;
    min-height: 100%;  }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: white;
  }

  .container {
    width: auto;
    max-width: 500px;
    padding: 0 15px;
    text-align: center;
  }

#o-nas {
max-width: 100%;
text-align: left;
margin: 20px 0px 0px 0px;
}



#wedding {
  max-width: 100%;
  text-align: left;
  margin: 0px 0px 40px 0px;
  }
  
#ula { 
margin: 50px 20px 10px 50px;
background-color: floralwhite;
padding: 20px 10px 5px 20px;
}

#slub { 
  margin: 50px 20px 10px 50px;
  padding: 20px 10px 5px 20px;
  }

  #slub-info { 
    margin: 0px 0px 10px 60px;
    padding: 0px 10px 5px 20px;
    }

#wesele {
    margin: 50px 50px 10px 50px;
  padding: 20px 20px 5px 20px;
    }

.info {
  color: #FAFAD2;

}

#krzys {
  margin: 50px 50px 10px 50px;
  background-color: floralwhite;
padding: 20px 20px 5px 20px;
  }

#my {
margin: 50px 50px 100px 50px;
background-color: floralwhite;
padding: 20px 0px 10px 20px;
}

  .tekst-onas {
    text-indent: 30px;
    color: black;
    margin: 0px 0px 90px 0px ;
  }

  .tekst-onas1 {
    text-indent: 30px;
    color: black;
    margin: 0px 0px 10px 0px ;
  }
  .cover-container {
  margin:20px 0px 0px 0px;
  }

  .photo {
    width: 40%;
  }

  .photos {
    width: 20%;
    margin: 0px 0px 20px 0px;

  }

.small {
margin: 0px 0px 30px 0px;
-webkit-text-stroke: 0.8px #cfac47;
color: white;
font-size: 15px;
}

.center {
text-align: center;

}
  .names {
  color: #051842;
  -webkit-text-stroke: 1px #cfac47;
  }

h2 {
font-size: 20px;
}

.date {
margin: 0px 0px 30px 0px;
color: #997F4C;
font-weight: bold; 
-webkit-text-stroke: 0.5px #997F4C;
font-size: 20px;
}

.names-text {
  margin: 0px 0px 0px 0px;
  font-weight: bold; 
  font-size: 20px;
  color: #cfac47 ;
  }

.left {
font-size: 16px; 
margin: 0px 0px 0px 0px;   
color: #FAFAD2;
}

#counter{
    font-size: 25px;
    color: #cfac47 ;
    -webkit-text-stroke: 0.2px #051842;
    margin: -5px 0px 20px 0px; 
    font-weight: bold;

}
span {
  color:   black;
}

#centertext {
 text-align: center; 
 font-size: 20px;
 color: #997F4C;
font-weight: bold; 
}

.img-center {
display: block;
position:center;
}

  /* Underline From Left */
.anim {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.anim:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.anim:hover:before, .anim:focus:before, .anim:active:before {
  right: 0;
}
  
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  margin: 0px 5px 0px 0px;
  padding: 10px 0px 0px 0px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-instagram {
  color: white;
  background: #DD2A7B;
}

#active {
  border-bottom: 3px solid white;
}


.cover {
margin: 60px 0px 0px 0px; 
}

.click:hover {
color: #cfac47
}

iframe {
 margin: 20px 0px 20px 0px; 
}

.destination {
padding: 10px 10px 10px 10px;  
margin: 10px 0px 20px 0px;;
}

.icons {
 width: 5%; 
 margin: 0px 20px 0px 0px;
}

.icons_all {
margin: 0px 0px 10px -10px;
bottom: 0;
position:absolute;
}


.icons-wedding {
  width: 10%; 
  margin: 0px 10px 0px 0px;
 }

 .text-bold {
font-weight: bold; 
}

